<div class="container">
  <div class="title">
    <p style="margin-left: 10%;font-size: 2.5rem;">得分报告{{title1}}</p>
    <b style="margin-right: 10%;font-size: 1.5rem; color: #cccccc;">{{title2}}</b>
  </div>
  <div class="score">
    <b style="text-align: center; margin-left: 10%; margin-right: 10%;font-size: 1.2rem;">此次测试得分：</b>
    <b style="border: 1px solid  #5B5B5B; border-radius: 5px;text-align: center;margin-left: 10%;;font-size: 1.2rem;padding-left: 1rem;padding-right: 1rem;">{{score}}</b>
  </div>
  <div class="details">
    <b>愤怒：{{FaceAttributesDataItem.emotion.anger}}</b>
    <b>轻蔑：{{FaceAttributesDataItem.emotion.contempt}}</b>
    <b>厌恶：{{FaceAttributesDataItem.emotion.disgust}}</b>
    <b>害怕：{{FaceAttributesDataItem.emotion.fear}}</b>
    <b>高兴：{{FaceAttributesDataItem.emotion.happiness}}</b>
    <b>悲伤：{{FaceAttributesDataItem.emotion.sadness}}</b>
    <b>惊讶：{{FaceAttributesDataItem.emotion.surprise}}</b>
    <b>中立：{{FaceAttributesDataItem.emotion.neutral}}</b>
  </div>
</div>
