page-introduction {
  background: url("./../assets/imgs/02.JPG") no-repeat;
  background-size: cover;
  .toolbar-title {
    color: #5B6268;
  }
  .content {
    background: none;
    .btn-round {
      width: 8rem;
      height: 8rem;
      border: 1px solid #D3D6DD;
      box-shadow: 0px 0px 3px #737171;
      border-radius: 50%;
      background-color: #FFF;
      opacity: 0.3;
      color: #000000;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .container {
    position: relative;
    #r1 {
      position: absolute;
      left: 21rem;
    }
    #r2 {
      position: absolute;
      top: 4rem;
      left: 10rem;
    }
    #r3 {
      position: absolute;
      top: 12rem;
      left: 23rem;
    }
    #r4 {
      position: absolute;
      top: 14rem;
      left: 5rem;
    }
    #r5 {
      position: absolute;
      top: 20rem;
      left: 14rem;
    }
    #r6 {
      position: absolute;
      top: 30rem;
      left: 7rem;
    }
    #r7 {
      position: absolute;
      top: 34rem;
      left: 21rem;
    }
    #r8 {
      position: absolute;
      top: 42rem;
      left: 12rem;
    }
  }
}
