page-explain {
  .title {
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
    p {
      width: 25%;
      padding: 1rem 0;
      border-bottom: 2px solid  #f53d3d;
      text-align: center;
      color: #5B5B5B;
      font-size: 1.5rem;
    }
  }
  .content {
    width: 100%;
    padding: 0 5%;
    font-size: 2.2rem;
  }
}
