page-personal {
  background: url("./../assets/imgs/personBackground.jpg") no-repeat;
  //background: #122232;
  background-size: cover;
  .content {
    background: none;
  }
  .user-info {
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    flex-direction: column;
    align-items: center;
    .user-name{
      font-size: 1.7rem;
      color: #222222;
      opacity: 0.6;
      letter-spacing: 2px;
    }
    .user-avatar {
      margin-bottom: 1%;
    }
  }
  .list {
    background: rgba(255,255,255,0.1);
    .item{
      color: #222222;
      background: none;
      opacity: 0.6;
    }
    //.note{
    //  color: #fff;
    //
    //}
  }
}
